<%- include('partials/_header'); %>
<%- include('partials/_navigation'); %>

<div id="carouselExampleControls" class="carousel slide bs-slider box-slider" data-ride="carousel" data-pause="hover" data-interval="false">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <div id="home" class="first-section" style="background-image:url('images/slider-01.jpg');">
                <div class="dtab">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 text-right">
                                <div class="big-tagline">
                                    <h2><strong>SmartEDUX </strong> education College</h2>
                                    <p class="lead">With Landigoo responsive landing page template, you can promote your all hosting, domain and email services. </p>
                                    <a href="#" class="hover-btn-new"><span>Contact Us</span></a>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="#" class="hover-btn-new"><span>Read More</span></a>
                                </div>
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
        <div id="home" class="first-section" style="background-image:url('images/slider-03.jpg');">
            <div class="dtab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 text-center">
                            <div class="big-tagline">
                                <h2><strong>SmartEDU </strong> education College</h2>
                                <p class="lead">Daha fazla  bilgi almak için bizimle iletişime geçmeyi unutmayınız. </p>
                                <a href="/contact" class="hover-btn-new"><span>Contact Us</span></a>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/about" class="hover-btn-new"><span>Read More</span></a>
                            </div>
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>

<div id="overviews" class="section wb">
    <div class="container">
        <div class="section-title row text-center">
            <div class="col-md-8 offset-md-2">
                <h3>Son Eklenen Kurslar</h3>
                <p class="lead">Son eklenen kurslara aşağıdan ulaşabilirsiniz.</p>
            </div>
        </div>

        <% for (let i = 0; i < Math.min(2, courses.length); i++) { %>
        <div class="row align-items-center mb-5 p-3 rounded shadow-sm" style="background: #f9f9f9;">
            <div class="col-lg-4 col-md-5 col-sm-12 mb-3 mb-md-0">
                <img src="/images/about_02.jpg" alt="" class="img-fluid rounded">

               
            </div>
            <div class="col-lg-8 col-md-7 col-sm-12">
                
                <div class="d-flex flex-column h-100 justify-content-between">
                    <div>
                        <h4><%= courses[i].name %></h4>
                        <p><%= courses[i].description %></p>
                    </div>
                    <div class="text-end">
                        <a href="/courses/<%= courses[i].slug %>"type="button" class="btn btn-outline-warning">Devamını Oku</button></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>

    </div>
</div>

<!-- İstatistik Alanı -->
<div class="section cl" style="margin-bottom: 120px;">
    <div class="container">
        <div class="row text-left stat-wrap">
            <div class="col-6 col-sm-4 col-md-2 mb-4">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-study"></i></span>
                <p class="stat_count"><%= totalStudents %></p>
                <h3>Students</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-online"></i></span>
                <p class="stat_count"><%= totalCourses %></p>
                <h3>Courses</h3>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12 mb-4">
                <span data-scroll class="global-radius icon_wrap effect-1 alignleft"><i class="flaticon-years"></i></span>
                <p class="stat_count"><%= totalTeachers %></p>
                <h3>Teachers</h3>
            </div>
        </div>
    </div>
</div>

<!-- Logo Alanı -->
<div class="parallax section dbcolor py-5" style="background-color: #1ca3e2; margin-bottom: 100px;">
    <div class="container">
        <div class="row justify-content-center align-items-center text-center g-4">
            <% const logos = [1,2,3,4,5,6]; %>
            <% logos.forEach(num => { %>
            <div class="col-6 col-sm-4 col-md-2 mb-4 wow fadeInUp">
                <a href="#"><img src="images/logo_0<%= num %>.png" alt="Logo <%= num %>" class="img-fluid mx-auto d-block"></a>
            </div>
            <% }); %>
        </div>
    </div>
</div>


<style>
  footer {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  .parallax + footer {
    margin-top: 0;
    padding-top: 0;
  }
</style>

<%- include('partials/_footer'); %>
